<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <p>questionNumber</p>
    {{.QuestionNumber}}
    <p>answer</p>
    <input type="text" name="answer">
    <input type="hidden" name="submit" value="1">
    <input type="submit" value="submit">
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/suggestions">suggestions</a>
    <a href="/user">user</a>
    <a href="/users">users</a>
    <a href="/answers">answers</a>
    <a href="/submit">submit</a>
</form>
</body>
</html>