<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{.}}
<form method="post">
    <p>id</p>
    <input type="text" name="id_suggestion">
    <input type="hidden" name="solution" value="1">
    <input type="submit" value="Accept suggest">
</form>
<form method="post">
    <p>id</p>
    <input type="text" name="id_suggestion">
    <input type="hidden" name="solution" value="2">
    <input type="submit" value="Decline suggest">
</form>
</body>
</html>