<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>state</p>
{{.State}}
<p>questionNumber</p>
{{.QuestionNumber}}
<form method="post">
    <input type="hidden" name="createvm" value="1">
    <input type="submit" value="Create suggest">
    </form>
<a href="/login/">login</a>
<a href="/logout/">logout</a>
<a href="/suggestions/">suggestions</a>
<a href="/user/">user</a>
<a href="/users/">users</a>
<a href="/answers/">answers</a>
<a href="/submit/">submit</a>
</body>
</html>